.profile__edit-button {
  width: 24px;
  padding-bottom: calc((100% - 2px));
  box-sizing: border-box;
  background-image: url(../../../images/profile__edit-button.svg);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  border: 1px white solid;
  grid-column: 2;
}

@media (max-width: 768px) {
  .profile__edit-button {
    width: calc((300vw + 3072px)/224);
    background-size: 7.5px 7.5px;
  }
}
