.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/profile__edit-button.svg);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  border: 1px white solid;
  grid-column: 2;
}
