.profile__add-button {
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 1px white solid;
  background-image: url(../../../images/profile__add-button.svg);
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 4;
  transition: opacity 0.3s;
}

@media (max-width: 1280px) and (min-width: 768px) {
  .profile__add-button {
    width: calc((3500vw - 6400px)/256);
    height: calc((500vw + 6400px)/256);
  }
}

@media (max-width: 767px) {
  .profile__add-button {
    width: calc((-3300vw + 42144px)/112);
  }
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
