.footer {
  width: 282px;
  margin: 66px auto 60px 200px;
  box-sizing: border-box;
}

@media (max-width: 1280px) {
  .footer {
    margin: calc((300vw + 6720px)/160) auto calc((100vw + 1120px)/40) calc((18100vw - 39680px)/960);
  }
}
